<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="A location-based game that inspires players to explore and learn about new locales through engaging quizzes and community oriented features."/>

<link rel="icon" type="image/svg+xml" href="/assets/svg/compass-compressed.svg">
<link rel="alternate icon" href="/assets/svg/favicon.ico">
<link rel="mask-icon" href="/assets/svg/compass-compressed.svg" color="#ffffff">

<title>QuizQuest: <%= pageTitle %></title>

<!-- Bootstrap core CSS -->
<link href="/assets/css/bootstrap.min.css" rel="stylesheet">

<!-- Custom sitewide styles -->
<link async defer href="/assets/css/site.css" rel="stylesheet">

<!-- Custom fonts -->
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@600&family=Poppins:wght@600&family=Raleway:wght@600;700&display=swap" rel="stylesheet">
